[user]

  name = Jason
  email = jason@example.com
#  signingkey = ###
# 
# [gpg]
# 
#   program = gpg2
# 
# [commit]
# 
#   # https://help.github.com/articles/signing-commits-using-gpg/
#   gpgsign = true
# 