.idea

aws/dot-aws/credentials
aws/dot-aws/config
aws/dot-aws/*.bkp
aws/dot-aws/cli/
aws/dot-aws/sso/

brew/Brewfile.lock.json

config/karabiner/automatic_backups/

git/dot-git-authors
git/dot-git-user

kube/dot-kube/config
kube/dot-kube/kubectx

ssh/config

vim/dot-vim/.netrwhist

zsh/dot-zsh/00-SECRETS.zsh
zsh/dot-zsh/*-custom.zsh
.plan-bender/
.plan-bender.local.yaml
.claude/skills/bender-*
.claude/skills/.dotfiles-skills-manifest
