.idea

aws/dot-aws/credentials

brew/Brewfile.lock.json

config/karabiner/automatic_backups/

git/dot-git-user

kube/dot-kube/config
kube/dot-kube/kubectx

ssh/config

zsh/dot-zsh/00-SECRETS.zsh
zsh/dot-zsh/99-custom.zsh
